@import "tailwindcss";
@font-face {
    font-family: 'Concert One';
    src: url('../assets/fonts/ConcertOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}
@theme {
    --font-sans: 'Cascadia Code', system-ui, sans-serif;
    --font-concert: 'Concert One', 'Google Sans Code', system-ui, sans-serif;
}