---
import Layout from "../layouts/Layout.astro";
import { ProyectsContent } from "./../components/index.js"
---
<Layout title="Jeriel Porfolio | Proyectos">
  <div class="pt-20">
    <ProyectsContent />
  </div>
</Layout>