---

---

<secction class="flex size-full min-h-96 items-center justify-center">
    <div class="flex flex-col size-full
justify-center rounded-2xl overflow-hidden border-3 items-center mx-5 hover:scale-103 transition duration-200 ease-out text-purple-50 max-w-2xl p-5 text-start gap-5">
        <div>
            <h2 class="font-semibold text-5xl">Sobre Mi:</h2>
        </div>
        <div class="flex flex-col gap-2 font-semibold text-xl">
            <p>Soy un estudiante de Desarrollo Web y Desarrollador Frontend independiente en formación con pasión por crear experiencias digitales intuitivas y atractivas.</p>
            <p>Mi viaje en el desarrollo web se centra en el Frontend, donde disfruto transformando diseños conceptuales en interfaces de usuario funcionales y responsivas. Como estudiante, estoy constantemente en la búsqueda de nuevas tecnologías y mejores prácticas para elevar la calidad de mi código.</p>
        </div>
    </div>
</section>