---
const currentYear = new Date().getFullYear()
const nombreSitio = "Portafilo V2"
---

<footer class="flex w-full text-purple-50/40 justify-center items-center flex-col h-20 mt-10 text-center text-balance">
    <div class="flex w-full text-purple-50/40 justify-center items-center flex-col sm:flex-row gap-2">
        <div class="flex flex-row gap-2">
            <a href="/sitemap-index.xml" class="hover:text-blue-500 active:text-blue-500 size-fit">
                <p>Mapa de sitio</p>
            </a>
            <a href={`https://www.facebook.com/jeriel.beckford.${currentYear}` }class="hover:text-blue-500 active:text-blue-500 size-fit">
                FaceBook
            </a>
            <a href="https://www.linkedin.com/in/jeriel-beckford-price-74ba24330/" class="hover:text-blue-500 active:text-blue-500 size-fit">
                Linkedin
            </a>
        </div>
    </div>
    <div>
        <p>
            &copy; {currentYear} {nombreSitio}. Licenciado bajo la <a href="./LICENSE.txt" class="hover:text-blue-500 active:text-blue-500 size-fit">Licencia MIT</a>.
        </p>
    </div>
</footer>