---
// src/components/Header.astro
---

<header class="flex h-20 items-center w-full justify-center fixed top-0 px-3">
    <div class="flex bg-purple-600/30 justify-between w-300 px-2 h-11 items-center rounded-full backdrop-blur-sm text-purple-50 font-bold">
        <div>
            <a class="bg-purple-600 px-3 py-1 rounded-full cursor-pointer hidden sm:flex " href="/">
                <span>JERIEL</span>
                <span>BECKFORD</span>
            </a>
            <a class="bg-purple-600 px-3 py-1 rounded-full cursor-pointer flex sm:hidden " href="/">
                <span>J</span>
                <span>B</span>
            </a>
        </div>
        <nav class="flex gap-2 items-center">
            <div>
                <a href="http://" class="flex rounded-full py-1 px-2 bg-purple-500 hover:bg-purple-600">DESCARGAR CV</a>
            </div>

            <aside
              id="mobile-menu"
              class="flex transition-all duration-200 ease-out overflow-hidden sm:h-fit flex-col sm:flex-row items-center justify-evenly top-13 right-0 fixed gap-2 w-full sm:w-auto bg-purple-600 sm:px-1 sm:py-1 rounded-2xl sm:rounded-full sm:flex sm:static h-0"
            >
                <a href="/" class="px-1.5 rounded-full hover:bg-purple-500">INICIO</a>
                <a href="#proyects" class="px-1.5 rounded-full hover:bg-purple-500">PROYECTOS</a>
                <a href="https://github.com/jerielweb" class="px-1.5 rounded-full hover:bg-purple-500">GITHUB</a>
            </aside>
            <div id="hamburger-button" class="flex gap-1.5 flex-col bg-purple-600 py-1 px-3 rounded-full cursor-pointer sm:hidden">
                <span class="cursor-pointer w-5 h-1 bg-purple-200 rounded-full"></span>
                <span class="cursor-pointer w-5 h-1 bg-purple-200 rounded-full"></span>
                <span class="cursor-pointer w-5 h-1 bg-purple-200 rounded-full"></span>
            </div>
        </nav>
    </div>
</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const hamburgerButton = document.getElementById('hamburger-button');
    const mobileMenu = document.getElementById('mobile-menu');
    if (hamburgerButton && mobileMenu) {
        hamburgerButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('h-30');
        mobileMenu.classList.add('h-0');
    });
    } else {
        console.error('Error: No se encontró el botón o el menú.');
    }
});
</script>