---
import { Profile } from "./../assets/index.js"
import { Image } from 'astro:assets';
---

<section class="flex flex-col size-full pt-20 h-screen
justify-center items-center gap-5 lg:flex-row text-balance
max-h-[1200px]
">
    <div>
        <Image src={Profile} class=" sm:size-80 size-60 rounded-full" alt="Foto De Perfil">
    </div>
    <div>
        <div class="flex flex-col w-full items-center text-center lg:items-start">
            <span class="text-purple-50 text-center font-[500] border border-purple-300 size-fit px-2 rounded-full bg-gradient-to-bl from-violet-400 via-violet-600 to-indigo-900 sm:m-0 mb-2">EN BUSCA DE OPORTUNIDADES</span>
            <div>
                <span class="lg:text-3xl text-2xl text-purple-50 font-bold">¡HOLA👋🏾!&nbsp;</span>
                <span class="lg:text-3xl text-2xl text-purple-50 font-bold">MI NOMBRE ES:</span>
            </div>
            <h1 class="font-extrabold text-purple-50 text-4xl mx-3">JERIEL BECKFORD PRICE</h1>
            <h3 class="text-purple-50 font-bold lg:text-2xl mx-2">ESTUDIANTE DESARROLLADOR WEB FRONTEND</h3>
        </div>
        <div class="flex text-purple-50 gap-3 mt-2 text-center font-bold items-center justify-center lg:justify-normal lg:text-start">
            <a class="px-3 py-1 lg:px-6 lg:py-3 bg-violet-400 rounded-full flex items-center gap-2" href="https://drive.google.com/file/d/1ggfDNN41WsAJgb05DD7AQwcJhDUogkqv/view?pli=1" target="_blank">
            <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
            >
            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
            <path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
            <path d="M13 11l1.5 6l1.5 -6" />
            </svg>
                VER CV
            </a>
            <a class="px-3 py-1 lg:px-6 lg:py-3 bg-violet-600 rounded-full flex items-center gap-2" href="#about">
                <svg
                width="30"
                height="30"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                <path d="M12 9h.01" />
                <path d="M11 12h1v4h1" />
                </svg>
                SABER MAS
            </a>
        </div>
    </div>
</section>