---
interface Props {
	title: string
}
const { title } = Astro.props
import "../styles/global.css";
import Header from "../components/Header.astro"
---



<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gradient-to-b from-violet-900 to-neutral-900 flex items-center justify-center bg-no-repeat">
		<Header client:load/>
		<main class="flex flex-col w-full items-center">
			<slot />
		</main>
	</body>
</html>
